<!DOCTYPE html>
<html lang="pt-BR" class="transition-colors duration-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <title>Fale Comigo</title>
  </head>
  <body
    class="bg-[var(--bg-color)] text-[var(--text-color)] transition-colors duration-300"
  >
    <!-- Navbar -->
    <header>
      <nav
        class="p-5 bg-[var(--bg-color)] flex justify-between items-center shadow-lg"
      >
        <!-- Espaço vazio à esquerda para balancear -->
        <div class="flex-shrink-0 w-16"></div>
        <!-- Elemento vazio com largura fixa -->

        <!-- Navbar centralizada -->
        <div class="flex justify-center">
          <ul class="flex space-x-4">
            <li>
              <a href="/" class="text-[var(--text-color)] hover:underline"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/projects"
                class="text-[var(--text-color)] hover:underline"
                >Projetos</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class="text-[var(--text-color)] hover:underline"
                >Contatos</a
              >
            </li>
          </ul>
        </div>

        <!-- Botão de alternância de tema à direita -->
        <div class="flex-shrink-0">
          <button
            id="theme-toggle"
            class="bg-[var(--text-color)] text-[var(--bg-color)] p-2 rounded focus:outline-none transition-colors duration-300"
          >
            Mudar Tema
          </button>
        </div>
      </nav>
    </header>

    <main class="w-[600px] mx-auto">
      <section>
        <div class="bg-[var(--form-bg-color)] p-4 rounded-md my-5">
          <h1 class="text-[var(--text-color)] text-3xl mb-5 font-semibold">
            Fale comigo!
          </h1>
          <form class="gap-2" action="contact-form">
            <div class="grid grid-cols-2 gap-4">
              <div class="flex flex-col">
                <label for="name">Nome</label>
                <input
                  class="rounded-lg text-sm p-2 bg-[var(--bg-textarea)] text-[var(--text-textarea)] border-[var(--text-textarea)] border-2 focus:outline-none"
                  type="text"
                  id="name"
                  name="name"
                  required
                />
              </div>

              <div class="flex flex-col">
                <label for="email">Email</label>
                <input
                  class="rounded-lg text-sm p-2 bg-[var(--bg-textarea)] text-[var(--text-textarea)] border-[var(--text-textarea)] border-2 focus:outline-none"
                  type="email"
                  id="email"
                  name="email"
                  required
                />
              </div>
            </div>

            <div class="flex flex-col mt-5">
              <label for="message">Mensagem</label>
              <textarea
                class="block p-2 w-full text-sm bg-[var(--bg-textarea)] text-[var(--text-textarea)] border-[var(--text-textarea)] border-2 rounded-lg focus:outline-none"
                id="message"
                name="message"
                rows="5"
                required
              ></textarea>
            </div>

            <div class="flex mx-auto mt-5">
              <button
                class="bg-neutral-100 px-12 py-4 rounded-lg inline-block mx-auto text-black hover:bg-green-600 hover:text-white focus:outline-none transition-colors duration-300"
                type="submit"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <footer>
      <div
        class="p-5 bg-[var(--bg-color)] text-[var(--text-color)] text-center"
      >
        &copy; 2024 Felipe. Todos os direitos reservados.
      </div>
    </footer>

    <script src="{{ url_for('static', filename='/javascript/tema.js') }}"></script>
    <script src="{{ url_for('static', filename='/javascript/email.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
  </body>
</html>
